# Basic Analysis of the data

In [38]:
#Importing libraries
import numpy
import pandas as pd

In [2]:
#Loading the data
df = pd.read_csv('C:/Users/bhavi/OneDrive/Desktop/Data/Purchase_Data.csv')

In [39]:
#View the top five rows
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

# Splitting data into X & y

In [40]:
#Splitting data into X & y
X = df[['Age','EstimatedSalary']]
y = df['Purchased']

# Splitting X & y data into Train & test

In [41]:
#Importing train & test library
from sklearn.model_selection import train_test_split

In [42]:
#Creating train and test data on X & y data
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 5)

In [43]:
#Checking the shape of the data
print('X_train=',X_train.shape)
print('X_test',X_test.shape)
print('y_train',y_train.shape)
print('y_test',y_test.shape)

X_train= (300, 2)
X_test (100, 2)
y_train (300,)
y_test (100,)

# Implementing KNN

In [44]:
#Importing KNN classifier
from sklearn.neighbors import KNeighborsClassifier

In [57]:
#Implementing KNN
knn_classifier = KNeighborsClassifier(n_neighbors=3) #Calling the KNN Classifier
knn_classifier.fit(X_train, y_train) #Creating KNN Model
knn_classifier.score(X_test,y_test) #Checking accuracy score

0.8

# Implementing Logistic Regression

In [58]:
#Importing Logistic Regression
from sklearn.linear_model import LogisticRegression

In [59]:
#Implementing Logistic Regression
log_reg = LogisticRegression() 
log_reg.fit(X_train, y_train) 
log_reg.score(X_test,y_test)

0.66

# Implementing SVM Classifier

In [60]:
#Importing SVM Classifier
from sklearn.svm import SVC

In [61]:
#Implementing Logistic Regression
SVM_classifier = SVC(kernel='rbf') 
SVM_classifier.fit(X_train, y_train) 
SVM_classifier.score(X_test,y_test)

0.82

# K Fold Cross Validation

In [46]:
#Importing library
from sklearn.model_selection import cross_val_score

In [50]:
cross_val_score(knn_classifier,X,y,cv = 10, scoring='accuracy').mean()

0.7925

In [62]:
cross_val_score(log_reg,X,y,cv = 10, scoring='accuracy').mean()

0.6425000000000001

In [63]:
cross_val_score(SVM_classifier,X,y,cv = 10, scoring='accuracy').mean()

0.7725000000000001